<div class="jumbotron row">
	<h1><%= authors %></h1>
	<div class="col-sm-6">
		<p><%= author1.name %></p>
		<img class="fillColumn bigImage" src="<%= author1.photo %> "></img>
	</div>
	<div class="col-sm-6">
		<p><%= author2.name %></p>
		<img class="fillColumn bigImage" src="<%= author2.photo %> "></img>
	</div>
</div>