<% var i; for(i=0;i<user.Quizzes.length;i++){ %>
	<tr>
		<td><a href="/quizes/<%= user.Quizzes[i].id %>"><%= user.Quizzes[i].pregunta %></a></td>
		<% if(session.user){
		 if(session.user.isAdmin || session.user.id === user.Quizzes[i].UserId) {%> 
			<td>
				<form method="post" action="/user/<%= user.id %>/favourites/<%= user.Quizzes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar de favoritos: <%= user.Quizzes[i].pregunta %>' );">
						borrar de favoritos
					</button>
				</form>
			</td>
			<% } 
		} %>
	</tr>
<% } %>
</table>