<div class="minijumbo">
<h1>Preguntas favoritas</h1>
<table  class="center ">
<% var i; for(i=0;i<user.Quizzes.length;i++){ %>
	<tr class="jumborow spaceUnder tableColPadding">
		<td><a href="/quizes/<%= user.Quizzes[i].id %>"><%= user.Quizzes[i].pregunta %></a></td>
		<% if(session.user){ %>
			<td>
				<form method="post" action="/user/<%= user.id %>/favourites/<%= user.Quizzes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar de favoritos: <%= user.Quizzes[i].pregunta %>' );">
						Borrar de favoritos
					</button>
				</form>
			</td>
		 <%} %>
	</tr>
<% } %>
</table>
</div>