<div class="jumbotron row">
<h2>Pregunta: <%= quiz.pregunta %></h2>
<%if (quiz.image){%>
 <div class="col-sm-4"><img class="quiz_img" src ="/media/<%= quiz.image %>"></div>
<%}%>
<div class=" <%if (quiz.image){%> col-sm-8 <%}%>" >
<form  class="form-horizontal row" role="form" method="get" action="/quizes/<%= quiz.id  %>/answer">
<div class="col-sm-8">
	<input  type="text" class="form-control" name="respuesta" placeholder="Respuesta"/></div>
	<div class="col-sm-4">
	<input class="btn btn-success" type="submit" value="Enviar"></div>
</form>

<h2>Comentarios:</h2>
<%for(var index=0;index<quiz.Comments.length;index++){%>
	<% if(quiz.Comments[index].publicado){%>
		<p>- <%=quiz.Comments[index].texto%></p>
	<%} else if(session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))){%>
			<p>- <%=quiz.Comments[index].texto%>
			<a class="btn btn-warning" href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">Publicar</a></p>
	<%}%>
<%}%>
<a class="btn btn-info" style="margin-top:10px" href="/quizes/<%= quiz.id %>/comments/new">Nuevo comentario</a>
</div>
</div>