<p>Preguntas totales: <%=statistics.totalQuizes%></p>
<p>Comentarios totales: <%=statistics.totalComments%></p>
<p>Comentarios medios por pregunta: <%=statistics.medianComments%></p>
<p>Preguntas sin comentarios: <%=statistics.quizesWithoutComments%></p>
<p>Preguntas con comentarios: <%=statistics.quizesWithComments%></p>